.search-result-item-container{
    min-height: 50px;
    background-color: #eee;
    border-bottom: 2px solid rgb(29, 18, 122);
    padding: 10px;
    &:not(:last-child){
        margin-bottom: 10px;;
    }
    &:hover{
        background-color: #ccc;
        cursor: pointer;
    }
    
    div:not(:last-child){
        margin-bottom: 10px;
    }
    
    .tags{
        background-color:rgb(16, 16, 122);
        border-radius: 25px;
        padding: 5px 10px;
        color: #fff;
        &:not(:last-child){
            margin-right: 5px;
        }
        &-icon{
            margin-right: 10px;
            color: rgb(16, 16, 122);
        }
    }

    .result-item{
        &__name{
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__distance{
            font-size: 12px;
            font-weight: bold;
            background-color: #ccc;
            border-radius: 25px;
            padding: 2px 5px;
        }
    }
}