.search-component{
    margin: 10px 10px;
    &-form{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
    }

    .search{
        padding: 5px 20px;
        background-color: #eee;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        box-shadow: none;
    }
    
    &-option {
        padding: 4px 5px;
        background-color: #eee;
        .ant-input,
        .ant-select,
        .ant-select-selector{
            background-color: transparent !important;
            border: none !important;
            outline: none !important;
        }
        .ant-input{
            color:rgb(16, 16, 122);
        }
        .ant-select-selector{
            color: rgb(16, 16, 122);
            font-weight: bold;
        }
        .ant-select-focused{
            .ant-select-selector{
                color: rgb(16, 16, 122);
            }
        }
    }

    .ant-input-group{
        &::before,
        &::after {
            display: none !important;
        }
        display: grid !important;
        // gap: 10px;
        grid-template-columns: 1fr 1fr 2fr;
        .ant-input{
            width: 100% !important;
            padding: 5px;
            margin: 0px !important;
            border-right: 2px solid #eee !important;
            margin: 8px;
            outline: none;
            border: none;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            box-shadow: none;
            background-color: #eee;
        }
        .ant-select{
            display: flex;
            align-items: center;
            justify-content: center;
            .ant-select-selector{
                border: none;
                border-bottom: 1px solid #ccc;
            }
        }
        .btn-search{
            border-radius: 25px  0px 0px 25px!important;
            height: 100%;
            font-size: 12px;
            &.ant-btn-primary{
                color: #fff;
                background-color: rgb(16, 16, 122);
                border-color: rgb(16, 16, 122);
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
                -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
                box-shadow: 0 2px 0 rgba(0,0,0,0.045);
            }
        }
    }
}