.main-layout{
    .content{
        padding: 10px;
        .search-results-container{
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px;
            padding: 0px 10px;
        }
    }
}